<footer>
	<hr>
	<p id="profile-img-holder">
		<img alt="Niklas Lindblad" src="/images/niklas.jpg" id="profile-img" class="shadow" /> 
	</p>
	<p id="profile-links">
		{% for item in site.navigation %}
	        <a href="{{ item.url }}">{{ item.title }}</a>&nbsp;
	    {% endfor %}
    </p>
	<p>
		Hi! Nice to see you found my blog. I'm Niklas, a sofware developer working at <a href="http://www.squeed.com/">Squeed</a>.
	</p>
	<p>
		I'll be posting content related to software engineering, tools and agile practices, so stay tuned!
	</p>
	<hr>
	<p>This site is based on <a href="https://github.com/adueck/good-clean-read">Good Clean Read</a>, by <a href="https://github.com/adueck">Adam Dueck</a></p>
	<p>Last updated {{ site.time | date_to_string }}</p>
</footer>