<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }} | Blog</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
  {% if site.font-awesome %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">{% endif %}
  <link rel="canonical" href="{{ site.baseurl }}" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.baseurl }}/favicon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/favicon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/favicon-144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/favicon-144x144.png">
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.png">
  <link rel="icon" type="image/vnd.microsoft.icon" sizes="32x32 48x48" href="{{ site.baseurl }}/favicon.ico">
  <link rel="icon" sizes="128x128" href="{{ site.baseurl }}/favicon.icns">
</head>
<body>
  <div class="container">
    <article>
      {% include header.html %}
      {{ content }}
    </article>
    {% include footer.html %}
    <script src="{{ site.baseurl }}/scripts/jquery.min.js"></script>
 </div>
</body>
</html>
