<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
{% if site.social-sharing %}<link rel="stylesheet" href="{{ site.baseurl }}/css/rrssb.css"><noscript><link rel="stylesheet" href="{{ site.baseurl }}/css/rrssb.css">{% endif %}
</head>
<body>
  <div class="container">
    <article>
      {% include header.html %}
      <p><a href="{{ site.baseurl }}/">Back to the blog</a></p>
      {{ content }}
    </article>
    {% if site.social-sharing %}{% include sharing.html %}{% endif %}
    {% include footer.html %}
    {% if site.social-sharing %}<script src="{{ site.baseurl }}/scripts/jquery.min.js"></script>{% endif %}
    {% if site.jquery %}<script src="{{ site.baseurl }}/scripts/rrssb.min.js"></script>{% endif %}
  </div>
</body>
</html>
