<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
{% if site.social-sharing %}<link rel="stylesheet" href="{{ site.baseurl }}/css/rrssb.css"><noscript><link rel="stylesheet" href="{{ site.baseurl }}/css/rrssb.css">{% endif %}
</head>
<body>
  <div class="container">
    <article>
      {% include header.html %}
      <p><a href="{{ site.baseurl }}/">Back to the blog</a></p>
      {{ content }}
    </article>
    {% if site.social-sharing %}{% include sharing.html %}{% endif %}
    {% include footer.html %}
    {% if site.social-sharing %}<script src="{{ site.baseurl }}/scripts/jquery.min.js"></script>{% endif %}
    {% if site.jquery %}<script src="{{ site.baseurl }}/scripts/rrssb.min.js"></script>{% endif %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-104892141-1', 'auto');
      ga('send', 'pageview');
    </script>
  </div>
</body>
</html>
